<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{54,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>gun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,251},{86,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>gun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>gun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,340},{92,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>gun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{140,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,112}}</string>
                <key>sourceSize</key>
                <string>{142,112}</string>
            </dict>
            <key>gun_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,248},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>gun_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,129},{127,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,119}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>gun_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,356},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>gun_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>gun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,248},{117,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,106}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>gun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{117,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{117,116}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>gun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{111,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,101}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>gun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,116},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{130,135}}</string>
                <key>sourceSize</key>
                <string>{134,141}</string>
            </dict>
            <key>gun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>gun_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{167,129}}</string>
                <key>sourceSize</key>
                <string>{167,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gun.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2407500a4e504ba66d71b94056dd572d:1/1$</string>
            <key>textureFileName</key>
            <string>gun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
